version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "3000"
    restart: unless-stopped
    networks:
      - crai_net
networks:
  crai_net:
    external: true